*{
    margin: 0;
    padding: 0;
}
.parent{
    position: relative;
    width: 644px;
    height: 36px;
    margin:200px auto;
}
input{
    position: absolute;
    width: 540px;
    height: 36px;
    border: none;
    border: 1px solid #ccc;
}
button{
    position: absolute;
    width: 100px;
    height: 37px;
    box-sizing: content-box;
    outline: none;
    border: none;
    background: #3385ff;
    border-bottom: 1px solid #2d78f4;
    color: #fff;
    right: 2px;
    top: 0;
}
